/* Homepage */
.jumbotron {
  text-align: center;
  // Choose one by moving it to the bottom
  background-image: url(https://goo.gl/pT48Qr);
  background-image: url(http://previews.123rf.com/images/krulua/krulua1411/krulua141100085/33203695-Cloud-theme-vector-background--Stock-Vector-cloud-sky.jpg);
  background-image: url(http://st.depositphotos.com/1000940/3460/v/950/depositphotos_34603911-Vector-seamless-pattern-with-money.jpg);
  background-image: url(https://d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/homepage-dev/hero.jpg);
  background-image: url(http://previews.123rf.com/images/amenic181/amenic1811410/amenic181141000117/32283969-Morgen-Tasse-Kaffee-mit-Berg-Hintergrund-bei-Sonnenaufgang-Lizenzfreie-Bilder.jpg);
  background-image: url(http://profilerehab.com/facebook_covers/gaming/minecraft_sky_cover_1.jpg);
  background-image: url(http://www.badger-sett.com/images/jumbotron.jpg);
  background-size: cover;
  margin-bottom: 0;

  h1 {
    color: white;
    text-shadow: 1px 1px 8px rgba(154, 154, 154, 0.5);
    font-weight: bold;
  }

  h2 {
    color: white;
    text-shadow: 1px 1px 8px rgba(154, 154, 154, 0.5);
  }

  .btn-lg {
    margin: 1em;
    font-size: 2.7em;
  }
}

.centered-row {
  text-align: center;
}

.feature-row {
  padding: 2em;
  line-height: 1.7em;
  font-size: 20px;
  // border-bottom: 1px solid #ece0cd;

  h2 {
    margin: 0.5em 0 0.5em 0.4em
  }

  &.text-xs-center h2 {
    margin: 0.5em 0;
  }

  ul {
    list-style-type: square;
  }

  .icon {
    color: $hb-turquoise;
    font-size: 3.3em;
  }

}

.bg-gray {
    background-color: #eee;
    border-bottom: 1px solid #ece0cd;
    border-top: 1px solid #ece0cd;
}
