{% extends "layout.html" %}
{% block body %}

  <div class="jumbotron">
    <h1>Great landing page</h1>
    <p class="lead">Keep track of games you play using this online scoreboard. Share the scoreboard with other people</p>
    <p><a class="btn btn-lg btn-success" href="/new" role="button">Start here</a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>No registration</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Works everywhere</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>

    <div class="col-lg-6">
      <h4>No app install required</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

      <h4>Takes 10 seconds to setup</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    </div>
  </div>
{% endblock %}
