<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='icon') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-full navbar-fixed-top navbar-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="navbar-brand"><img src="{{ url_for('static', filename='hellobudget_logo.png') }}" alt="hellobudget"></div>
          </div>
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}


<!-- footer -->
<footer class="footer">
  <div class="container">
    <p class="text-xs-center">
        <strong>{{ gettext('Made by:') }} <a href="http://toyrocketscience.com">toy rocket science</a>
        <strong>{{ gettext('Follow Us:') }} </strong><a href="https://twitter.com/hellobudget" target="_blank">Twitter</a>, <a href="https://www.facebook.com/toyrocketscience/" target="_blank">Facebook</a><br>
    </p>
  </div>
</footer>
</body>
</html>
